---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Home">
  <p>🚀 Astro is working with a basic layout.</p>
  <p>Edit <code>src/layouts/BaseLayout.astro</code> to adjust header, footer, etc.007</p>
</BaseLayout>
