<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% if title %}{{ title }}{% else %}Eleventy{% endif %}</title>
  <link rel="stylesheet" href="/eleventy/css/main.css">
</head>
<body>
  <header class="header-outer">
    <h1>{% if title %}{{ title }}{% else %}<span class="font-eleventy">Eleventy</span>{% endif %}</h1>
    <nav aria-label="Primary">
      <a href="/">Home</a>
      <a href="/eleventy/" class="eleventy-link">Eleventy</a>
      <a href="/eleventy/about/">About</a>
      <a href="/eleventy/contact/">Contact</a>
    </nav>
  </header>

  <main class="container">
    {{ content | safe }}
  </main>
</body>
</html>
