---
title: Home
---
<p>Hello from <code>index.liquid</code>.</p>
<p><strong>Loaded at:</strong> <time id="page-loaded-at"></time></p>
<p><a class="eleventy-link" href="{{ '/eleventy/' | url }}">Eleventy section</a></p>
